---
title: Discord Events
layout: "layouts/base.njk"
permalink: 
    events: "/events/"
---

{% import "components/event-card.njk" as eventCard %}

<div class="flex flex-col items-center justify-center mt-10">
  <div class="flex flex-col">
     <h1 class="animate-pulse prose-lg">Discord Community Events</h1>
     <p>* Served via On Demand Builders *</p>
  </div>

{% for event in events %}
  {{ eventCard.card(event) }}
{% endfor %}
</div>