---
title: Discord Events
layout: "layouts/base.njk"
permalink: 
    events: "/events/"
---

{% import "components/event-card.njk" as eventCard %}

<div class="flex flex-col items-center justify-center">
  <div class="flex">
    <a href="/">Home </a> | welcome to the events page
  </div>

{% for event in events %}
  {{ eventCard.card(event) }}
{% endfor %}
</div>